* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.blink {
  animation: blink 0.8s infinite;
}
